//Colores

$theme-color:light;

$color-primario:#fe76a6;
$color-primario-light:lightpink;
$color-primario-superlight:rgb(255, 227, 233);
$color-secundario:#b24aa6;
$color-terciario:grey;
$color-terciario-light:rgb(159, 159, 159);

$color-componente-primario: white;
$color-componente-secundario:rgb(239, 239, 239);

$color-texto-dark:#54252e;
$color-texto-light:white;
$color-texto-resaltado:#ffdcb2;
