@font-face {
    font-family: "Stanberry";
    src: url(../fonts/stanberry.ttf);

    font-family: "corbel";
    src: url(../fonts/corbel.ttf);
}

//Tipografías

$typo-principal:"stanberry";
$typo-secundaria:"corbel";

$typo:(principal:"stanberry", secundaria:"corbel");