@font-face {
    font-family: "stanberry";
    src: url(../fonts/stanberry.ttf);

    font-family: "corbel";
    src: url(../fonts/corbel.ttf);
}

//Tipografías

$typo-principal:"Patrick Hand", cursive;
$typo-secundaria:"corbel";

$typo:(principal:"Patrick Hand", secundaria:"corbel");