@import "variables";
@import "colores";
@import "tipografias";
@import "layout";
@import "footer";
@import "animaciones";
@import "header";
@import "modal";

/* Function Paleta de colores */
@function color($color-name) {
    @return map-get($colores-light, $color-name);
}

/* Function Tipografías */
@function font($typo-name) {
    @return map-get($typo, $typo-name);
}

* {
    @include reset;
}

@font-face {
    font-family: "stanberry";
    src: local("stanberry"),
        url(stanberry.ttf);

    font-family: "corbel";
    src: local("corbel"),
        url(corbel.ttf);
}

//ESTILOS GENERALES (EG)

body {
    width: 100vw;
}

// EG INDEX 

// EG HEAD NOTICIAS

.noticias {
    @extend .estiloNoticias;
}

@include animacionNoticias;


// EG HEAD ENCABEZADO

.encabezado {
    @extend .estiloEncabezado;
}


// EG HEAD MENU

.menu {
    @extend .estiloMenu;
}

// EG CAROUSEL

.carousel {
    z-index: 0;
}


// EG MAIN CATEGORIAS

.contenedorCategorias {
    h1 {
        @include titulo-subtitulos(font(secundaria), 2em, 700, color(terciario-light), center);
    }
}

//EG MAIN EXTRAS

.contenedorExtras {

    h2 {
        @include titulo-subtitulos(font(secundaria), 2em, 700, color(terciario-light), center);
    }

    .extra {

        div {
            a {
                input {
                    border-style: solid;
                    border-radius: $radius;
                    border-width: 3px;
                    border-color: color(secundario);
                    background-color: color(componente-primario);
                    font-family: font(secundaria);
                    font-weight: bold;
                    color: color(secundario);
                }
            }
        }
    }
}

// EG MAIN NEWSLETTER

.contenedorNewsletter {
    background-color: color(secundario);
    height: 300px;

    .infoNewsletter {
        div {

            h3 {
                @include titulo-subtitulos(font(principal), none, none, color(texto-light), none);
            }

            p {
                font-family: font(secundaria);
                color: color(texto-light);
            }
        }

    }

    .formularioNewsletter {

        .ingresarEmail {
            @include inputformularios (16pt);
        }

        .BotonInscribete {
            @include btn-formularios (color(componente-secundario), 1.2em, color(texto-dark));
        }

    }
}

//EG FOOTER

footer {
    background-image: $footer-fondo-degradado;

    .tresColumnas {
        font-family: font(secundaria);

        ul {
            h5 {
                @extend .footer-titulos;
            }

            li {
                @extend .footer-estilo-lista;

                a {
                    @extend .footer-links;
                }
            }

            .columnasFooter3 {
                a {
                    @extend .iconos-rrss;
                }
            }
        }
    }

    .copyright {
        @include copyright;
    }
}



//EG MAIN BIENVENIDA

h1 {
    font-family: font(principal);
    color: color(terciario);
    font-size: 2em;
    line-height: 1em;
}

//BreadCrumb

.breadcrumb{
    list-style: none;
    
    .breadcrumb-item{
            font-family: font(secundaria);
            
            color: color(terciario);
        a{
            text-decoration: none;
            color: color(secundario);
            

            &:link{
                color: color(secundario);
            }            
        }
    }
}


.bievenida {
    p {
        background-color: color(primario);
        font-family: font(secundaria);
        color: color(texto-light);

        .linkIlustradoraBienvenida {
            text-decoration: none;
            color: color(texto-light);
            font-weight: 700;

            &:hover {
                color: color(secundario);
            }

        }
    }
}

//EG MAIN CATEGORÍA POLERAS

.infoPoleras p {
    background-color: color(primario);
    font-family: font(secundaria);
    color: color(texto-light);
}

.infoPoleras iframe {
    border-radius: $radius*3;
}

.medidas h2 {
    @include titulo-subtitulos(font(secundaria), none, none, color(terciario), center);
}

.medidas img {
    border-radius: $radius*5;
}

// Tabla de medidas

.medidas {
    @include estiloTabla;
}

.contenedorGaleria h2 {
    @include titulo-subtitulos(font(secundaria), 20pt, bold, color(terciario), center);
}

.filtroGaleria {
    @include estiloFiltro;
}

.resultadosGaleria {
    @include titulo-subtitulos(font(secundaria), 12pt, 700, color(terciario), start);
}

.item {
    background-color: color(componente-secundario);
    display: inline-block;
    text-align: center;
    border: color(componente-secundario) solid 2px;
    border-radius: $radius*3;

    a {
        text-decoration: none;
        font-family: font(secundaria);
        font-size: 16pt;
        color: color(texto-dark);

        img {
            display: block;
            border-radius: $radius*3 $radius*3 0px 0px;
        }

        p {
            display: inline-block;
            width: 100%;
            padding: 5% 1em;
            font-weight: 500;
        }

        .precioItem {
            display: block;
            padding: 0%;
            margin: 0%;
            font-family: sans-serif;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.paginacion {
    margin-bottom: 5em;
}

//EG MAIN NOVEDADES

.contenedorNovedades {
    background-color: color(primario-light);

    .novedades {
        .card {

            img {
                background-color: color(primario);
            }

            h5 {
                @include titulo-subtitulos(font(principal), none, bolder, color(texto-dark), none);
            }

            p {
                font-family: font(secundaria);
                color: color(texto-dark);
            }

            a {
                font-family: font(secundaria);
                font-weight: bold;
                color: color(secundario);
                text-decoration: none;
            }
        }
    }
}

.masNovedades {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: font(secundaria);
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    color: color(secundario);
    margin: 20px;
}

.newsletterNovedades {
    margin-bottom: 5em;
}

//EG CONTACTO

/* Contacto Información */

.contenedorContacto {
    margin-bottom: 5em;

    .imgContacto{
        img{
            height: 10em;

            @include desktop{
                height: 15em;
            }
        }
    }

    .contactoTexto {

        h2 {
            @include titulo-subtitulos(font(secundaria), 1.5em, 700, color(terciario), center);

            @include desktop {
                font-size: 1.6em;
            }
        }

        p {
            font-family: font(secundaria);
            font-size: 1em;
            color: color(terciario);

            @include desktop {
                font-size: 1.2em;
                line-height: 1.2em;
            }

            .contactoEmail {
                font-style: italic;
                font-weight: bold;
            }
        }
    }


    .formularioContacto {
        background-color: color(primario-light);
        border-radius: $radius*2;

        fieldset {
            input {
                @include inputformularios(none);
            }

            label {
                @include labelformularios(font(secundaria), 1.1em, 500, color(terciario-light));
            }

            select {
                @include inputformularios(none);
            }

            textarea {
                @include inputformularios(none);
                height: 10em;
            }
        }

        .form-check {
            input {
                height: 1.3em;
                width: 1.3em;
                opacity: 0.7;
            }

            label {
                @include labelformularios(font(secundaria), 1em, 500, color(texto-dark));

                a {
                    text-decoration: none;
                    color: color(texto-light);
                    font-weight: bold;
                }

                @include desktop {
                    font-size: 1.1em;

                    a {
                        font-weight: bolder;
                    }
                }
            }
        }

        .botonesContacto {
            input {
                @include btn-formularios(color(secundario), 1.3em, color(texto-light));
                width: 5em;
                height: 2.2em;

                @include desktop {
                    width: 8em;
                    height: 2.6em;
                }
            }
        }
    }




    .redesContacto {

        p {
            font-family: font(secundaria);
            font-size: 1em;
            color: color(terciario);

            @include desktop {
                font-size: 1.2em;
                line-height: 1.2em;
            }
        }

        a {
            color: color(primario);
            font-size: 3em;
            text-decoration: none;

        }
    }



}








//SCREEN SM ----------------------------------

/* @media screen and (min-width:$sm) and (max-width:767px) { */


.grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;

    grid-template-areas: "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header {
    top: 0;
    z-index: 20;
    width: 100vw;
}


//SM INDEX

//SM HEAD ENCABEZADO

.encabezado {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60%, 40%;
    gap: 10px;
    height: 200px;
    width: 100vw;

    #botonMenu {
        display: none;

        &:checked~.menu {
            position: absolute;
            top: 10em;
            margin-left: 1em;
        }

    }

    .contenedorBotonMenu {
        grid-column: 1/2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1em;

        .fa-bars {
            color: color(terciario);
            font-size: 30px;
            padding: 0.5em;
            border-radius: $radius;
            cursor: pointer;

            &:hover {
                background-color: color(primario);
                color: color(componente-primario);
            }
        }
    }

    .contentLogoEncabezado {
        width: 100%;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;

        .logoEncabezado {
            height: 100px;
        }
    }

    .contenedorBuscador {
        width: 100vw;
        grid-area: 2/1/3/4;
        display: flex;
        justify-content: center;
        align-items: center;

        .buscador {
            width: 90%;

            .fa-magnifying-glass {
                color: color(terciario);
                margin-left: 20px;
            }

            .ingresarBusqueda {
                font-size: 12pt;
                border-style: none;
                background: none;
                margin: 10px;
            }
        }
    }

    .iconosEncabezado {
        grid-column: 3/4;
        margin-right: 1em;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .fa-user {
            color: color(terciario);
            font-size: 25px;
            padding: 0.5em;
        }

        .fa-bag-shopping {
            color: color(terciario);
            font-size: 25px;
        }
    }



}


//SM HEAD MENU

.menu {
    position: absolute;
    top: 10em;
    border: none;
    margin-left: -70%;
    transition: all 0.5s;
    height: 275px;

    ul {
        flex-direction: column;
        text-align: start;
        padding: 0%;

        li {
            width: 100%;

            &:hover>ul {
                display: block;
            }

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 0.5em 0.5em;
            }

            ul {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 8.5em;
                top: 7em;
                background: color(componente-primario);
                width: 100%px;
                display: none;
                z-index: 2;
                padding: 0%;

                li {
                    a {
                        padding: 0.5em 1.5em;

                        &:hover {
                            background: color(primario);
                            width: 100%;
                            border-radius: $radius;
                        }
                    }
                }
            }
        }
    }
}

//SM CAROUSEL

.carousel {
    .carousel-indicators {
        display: none;
    }
}

//SM MAIN CATEGORIAS

.contenedorCategorias {

    h1 {
        width: 100vw;
        padding: 1.5em 0px 1em 0px;
        margin: 0;
    }

    .imagenesCategoria {
        display: flex;
        flex-flow: wrap;
        justify-content: center;

        .imgCateg {
            margin: 0.5em;

            a {
                input {
                    width: 8.5em;
                    border-radius: $radius*3;
                }
            }
        }

    }
}


//SM MAIN EXTRAS

.contenedorExtras {
    h2 {
        width: 100vw;
        padding: 1.5em 0px 1em 0px;
        margin: 0;
    }

    .dosExtras {
        width: 100vw;
        margin-bottom: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .extra {
            padding: 0px 10px;
            margin: 0px 0px 1.5em;
            position: relative;

            img {
                width: 15em;
                border-radius: $radius*4;
            }

            div {
                position: absolute;
                bottom: 7%;
                left: 50%;
                transform: translate(-50%, 0%);

                a {
                    input {
                        height: 50px;
                        width: 7em;
                        font-size: 16pt;
                    }
                }
            }
        }

    }
}

//SM MAIN NEWSLETTER

.contenedorNewsletter {
    height: auto;
    padding: 0.5em 0px 1em 0px;
    margin-bottom: 5em;

    .imgInfoNewsletter {
        display: block;
        text-align: center;

        .imgNewsletter {
            height: auto;
            text-align: center;

            img {
                height: 10em;
            }
        }

        .infoNewsletter {

            h3 {
                font-size: 2em;
                line-height: 1em;
            }

            p {
                font-size: 1.2em;
                margin: 0px 0.5em 0.3em 0.5em;
                line-height: 1em;
            }
        }
    }

    .formularioNewsletter {
        text-align: center;
        padding: 1em;

        .ingresarEmail {
            font-size: 1em;
            height: 3em;
            width: 18rem;
            padding: 1em, 1em;
            margin-bottom: 0.5em;
        }

        .BotonInscribete {
            height: 2.5em;
            width: 18rem;
            font-size: 1.1em;
        }
    }
}

//SM FOOTER COPYRIGHT

.copyright {
    height: 3em;
    font-size: 1.5;

    p {
        padding-top: 1em;
    }
}

//SM MODAL

.modal {
    @include estiloModal;
}

// SM BIENVENIDA

h1 {
    text-align: center;
    padding: 1em 1em 0.5em 1em;
}

.bievenida {
    margin: 0px 0px 3em 0px;
    height: auto;

    .contenedorImagenBienvenida {
        text-align: center;
        margin: 0.5em 0px;

        img {
            height: 20em;
        }
    }

    p {
        font-size: 1.1em;
        line-height: 1em;
        padding: 2em 2em;
        height: auto;

        span {
            font-size: 1.4em;
            line-height: 1.5em;
            font-weight: 700;
        }

        .linkIlustradoraBienvenida {
            font-size: large;
        }
    }
}

.galeriaArtista {
    margin: 0px 0px 5em 0px;

    h2 {
        @include titulo-subtitulos(font(principal), 1.5em, none, color(terciario), center)
    }

    .instaFeed {
        a {
            div {
                img {
                    width: 250px;
                    border: solid 1px color(terciario-light);
                    border-radius: $radius*2;
                }
            }
        }

    }
}

//SM CATEGORIA POLERAS

.infoPoleras {
    display: flex;
    flex-direction: column-reverse;
    margin: 1em 0px 1.5em 0px;

    p {
        font-size: 1.3em;
        line-height: 1.1em;
        text-align: left;
        padding: 1.5em;
    }

    iframe {
        width: 100%;
        border: color(primario-light) solid 5px;
        margin-bottom: 1em;
    }
}

.contenedorMedidas {
    height: auto;

    .medidas {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;

        h2 {
            width: 100%;
            margin-bottom: 0.5em;
            text-align: center;
        }

        img {
            width: 20em;
        }
    }
}


// Tabla de medidas 

.medidas {
    table {
        margin-bottom: 3em;

        td {
            padding: 5px;
            border-bottom: color(tabla-lineas) solid 3px;
            text-align: center;
        }
    }
}


.tablaMujer {
    width: 15em;

    tr {
        font-size: 0.5em;
    }
}

// Galerìa 
.contenedorGaleria {
    display: flex;
    flex-flow: wrap;
    margin: 5em 0px;

    h2 {
        width: 100%;
        text-align: center;
    }
}



.filtroGaleria {
    width: 100%;
    height: auto;
    padding: 1.5em 0px;
    text-align: center;

    label {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
    }

    select {
        display: inline-block;
        height: 4em;
        width: 50%;
        position: relative;
    }

}



.resultadosGaleria {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .item {
        width: 47%;
        padding: 0px 0px 0.5em 0px;
        margin: 0.5em 0.2em;

        a {
            width: 100%;
            text-align: center;

            img {
                width: 100%;
                margin: auto;
            }

            p {
                display: inline-block;
                width: 90%;
                padding: 0.5em 0px 0px 0px;
                margin: auto;
                line-height: 18pt;
            }

            .precioItem {
                width: 85%;
                padding: 0%;
                margin: auto;
            }
        }
    }
}

// SM NOVEDADES

.contenedorNovedades {
    padding: 2em 0 2em 0;

    .novedades {
        margin: 2em 0 2em 0;

        .card {
            width: 18rem;
            margin: auto;
            border-radius: $radius*3;

            img {
                border-radius: $radius*3 $radius*3 0 0;
            }
        }
    }

}




//SCREEN XL

@media screen and (min-width:$xl) {

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.088fr auto 1fr;


        grid-template-areas: "header""header"
            "main""main"
            "footer""footer";
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        width: 100vw;
    }

    footer {
        grid-area: footer;
    }


    //XL INDEX

    header {
        position: sticky;
        top: 0;
        z-index: 2;
        width: 100vw;
        height: 13.5em;
        background-color: color(componente-primario);

        .noticias {
            ul {
                li {
                    font-size: 14pt;
                }
            }

        }
    }

    // XL HEAD ENCABEZADO

    .encabezado {
        padding: 10px 0px 0px 0px;
        height: 100px;
        width: 100%;
        grid-template-columns: auto auto auto;
        grid-template-rows: 0.5fr, auto;

        #botonMenu {
            display: none;

        }

        .contenedorBotonMenu {
            display: none;

        }

        .contentLogoEncabezado {
            /* margin-left: 50px; */
            grid-column: 1/2;
            height: 100px;
            width: 100%;
            justify-content: flex-start;
            align-items: center;


            .logoEncabezado {
                height: 90px;
                margin-left: 3em;
            }
        }

        .contenedorBuscador {
            width: 100%;
            height: 100px;
            grid-column: 2/3;
            grid-row: 1/2;

            .buscador {
                height: 40px;
                width: 700px;

                .fa-magnifying-glass {
                    color: color(terciario);
                    margin-left: 20px;
                }

                .ingresarBusqueda {
                    font-size: 12pt;
                    border-style: none;
                    background: none;
                    margin: 10px;
                }
            }
        }

        .iconosEncabezado {
            /* margin-right: 50px; */
            margin: 0;
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;



            .fa-user {
                color: color(terciario);
                font-size: 30px;
                padding: 10px;

            }

            .fa-bag-shopping {
                color: color(terciario);
                font-size: 30px;
                padding: 10px;
                margin-right: 1em;

            }
        }
    }


    //XL MENU

    .menu {
        grid-row: 2/3;
        grid-column: 2/4;
        margin: 0;
        width: 100%;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: color(componente-secundario) solid 2px;
        transition: none;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            width: 100%;
            margin: 0;

            li {
                display: inline-block;
                width: 9.5em;
                height: 3em;
                position: relative;



                a {
                    display: block;
                    position: absolute;
                    top: 0;

                    /* padding: 12px 20px; */
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    left: 0;
                    top: 3em;
                    background: color(componente-primario);
                    width: 180px;
                    display: none;
                    z-index: 2;
                    padding: 0%;

                    li {
                        width: 100%;

                        a {
                            &:hover {
                                background: color(secundario);
                                width: 180px;

                            }
                        }
                    }
                }

                &:hover>ul {
                    display: block;
                }
            }
        }
    }


    //XL CAROUSEL

    .carousel {
        width: 100vw;

        .carousel-indicators {
            display: flex;

            button {
                height: 1.3em;
                width: 1.3em;
                border: 0;
                border-radius: $radius*5;
            }
        }

        .carousel-control-prev {
            width: 4em;
        }

        .carousel-control-next {
            width: 4em;
        }
    }


    //XL MAIN CATEGORIAS

    .contenedorCategorias {

        h1 {
            padding: 100px 0px 20px 0px;
        }

        .imagenesCategoria {
            text-align: center;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            grid-template-areas: "categoria""categoria""categoria"
                "categoria""categoria""categoria";

            margin: 0 5em;

            .imgCateg {
                grid-area: "categoria";
                display: inline-block;
                padding: 20px;

                a {
                    input {
                        width: 300px;
                        border-radius: $radius*4;
                    }
                }
            }
        }
    }

    //XL MAIN EXTRAS

    .contenedorExtras {

        h2 {
            padding: 100px 0px 20px 0px;
        }

        .dosExtras {
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;

            .extra {
                display: inline-block;
                text-align: center;
                padding: 0px 10px;
                position: relative;

                img {
                    width: 24em;
                    border-radius: $radius*4;
                }

                div {
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translate(-50%, 0%);

                    a {
                        input {
                            height: 50px;
                            width: 200px;
                            font-size: 16pt;
                        }
                    }
                }
            }
        }
    }


    //XL MAIN NEWSLETTER

    .contenedorNewsletter {
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0px 5em 0px;
        padding: 1.5em 0%;

        .imgInfoNewsletter {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5em;
            padding: 0px 15em;

            .imgNewsletter {
                height: 150px;

                img {
                    height: 150px;
                }
            }

            .infoNewsletter {
                height: 150px;
                padding-left: 5px;

                div {
                    h3 {
                        font-size: 30pt;
                        margin-bottom: 5px;
                        padding-left: 5px;
                    }

                    p {
                        font-size: 20pt;
                        line-height: 20pt;
                        margin: 5px;
                    }
                }
            }
        }

        .formularioNewsletter {
            display: flex;
            justify-content: center;
            height: 50px;
            width: 100%;
            padding: 0px 13em;

            .ingresarEmail {
                width: 75%;
                margin-right: 0.5em;
            }

            .BotonInscribete {
                width: 15%;
            }
        }
    }

    //XL FOOTER COPYRIGHT

    .copyright {
        height: 30px;
        font-size: 12pt;

        p {
            padding-top: 5px;
        }
    }

    //XL MODAL

    .modal {
        @include estiloModal;
    }

    //BIENVENIDA

    h1 {
        font-size: 2.5em;
        text-align: center;
        padding: 30px 0px;
    }

    .bievenida {
        background-color: color(primario);
        height: 400px;
        margin: 0px 100px 5em 100px;
        border-radius: $radius*3;
        position: relative;

        .contenedorImagenBienvenida {
            display: inline-block;
            position: absolute;
            height: 100%;
            width: 50%;

            .imagenBienvenida {
                height: 90%;
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translateY(-50%);
                z-index: 1;
            }
        }

        p {
            display: inline-block;
            position: absolute;
            height: auto;
            width: 35%;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            font-size: 1.3em;
            line-height: 1.1em;
            margin: 0%;
            z-index: 1;

            span {
                font-size: 1.4em;
            }

            .linkIlustradoraBienvenida {
                font-size: 1.2em;
            }
        }

        .bordeBienvenida {
            height: 70%;
            width: 90%;
            margin: 50x 50px;
            border: solid color(componente-primario) 5px;
            border-radius: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .galeriaArtista{
        margin: 0px 0px 5em 0px;
    
        h2{
            font-size: 2em;
        }
    
        .instaFeed{
            a{
                div{
                    width: 350px;
                    img{
                        width: 350px;
                        border: solid 1px color(terciario-light) ;
                        border-radius: $radius*2;
                    }
                }
            }
    
        }
    } 

    //XL CATEGORÍA POLERAS

    .infoPoleras {
        background-color: color(primario);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 400px;
        width: 100%;
        padding: 0 3em;
        margin-bottom: 100px;

        p {
            width: 50%;
            font-size: 1.3em;
            line-height: 1.1em;
            margin-left: 2em;
        }

        iframe {
            width: 560px;
            height: 315px;
            border-radius: $radius*3;
            border: color(componente-primario) solid 10px;

        }
    }


    .contenedorMedidas {
        margin-bottom: 100px;

        .medidas {
            margin-bottom: 4em;
        }
    }


    .contenedorGaleria {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;

        h2 {
            @include titulo-subtitulos(font(secundaria), 20pt, none, color(terciario), start);
            display: inline-block;
            width: 45%;
            padding: 1.5em 0px;
        }
    }


    .filtroGaleria {
        display: flex;
        width: 45%;
        position: relative;
        align-items: center;

        label {
            display: inline-block;
            font-size: 12pt;
            margin: 1%;
            padding-left: 50%;
            height: 2em;
        }

        select {
            width: 75%;
            font-size: 11pt;
            padding-left: 1,5%;
        }
    }

    .resultadosGaleria {
        display: block;
        text-align: left;
        font-size: 12pt;
        margin: 0px 0px 5% 5%;
    }

    .galeria {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto;

        grid-template-areas: "item""item""item"
            "item""item""item"
            "item""item""item";
        justify-content: center;
        grid-row-gap: 2em;
        margin: 0 4em;

        .item {
            grid-area: "item";
            width: 60%;
            height: auto;
            margin: auto;
            padding: 0px 0px 0.5em 0px;
            transition: 0.5s;

            a {
                font-size: 16pt;

                img {
                    width: 100%;
                    transition: 0.5s;
                }

                p {
                    margin: 0%;
                    padding: 1% 10%;
                }

                .precioItem {
                    font-size: 2em;
                    font-weight: bold;
                }
            }

            &:hover {
                box-shadow: $shadow;
                width: 80%;
            }


        }
    }






    //XL NOVEDADES

    .contenedorNovedades {
        padding: 2em 0 2em;
        display: flex;
        flex-direction: column;

        align-items: center;

        .novedades {
            margin: 1em 0;
            width: 80%;
            display: flex;
            justify-content: center;


            div {
                background-color: color(componente-primario);
                width: 60%;
                border-radius: $radius*3;
                justify-content: start;
            }


            .card {
                display: flex;
                flex-direction: row;
                width: 13rem;
                margin: 0;

                img {
                    border-radius: $radius*3 0 0 $radius*3;
                }

                .cardBodyNovedades {
                    display: flex;
                    flex-wrap: wrap;


                    .cardNovedades {

                        width: auto;

                        .tituloNovedades {
                            width: 10.5em;
                            font-size: 2em;
                        }
                    }

                    .cardLeerMas {
                        display: flex;
                        align-items: end;
                    }
                }

            }
        }
    }


    /*     .tituloNovedades {
        width: 25em;
    }
 */

}